

/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #3e004d; /* Darker background for contrast */
    /*background-image: url('P6.png');
    background-size: 1500px; /* Resize the background image to cover the entire container */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-position: center -290px; /* Centers the background image */
    color: #be33ff; /* Neon light blue text */
    margin: 0;
    padding: 0;
    justify-content: center;
}


.container {
    width: 90%;
    margin: 0 auto;
    padding-top: 1em;
}


.containerbutton {
    position:relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    padding-top: 1em;
}


/* Profile icon container */
.profile-icon-container {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 50px; /* Adjust the size as needed */
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ff5100;
    box-shadow: 0 0 5px #ff7300, 0 0 10px #ff7300, 0 0 15px #ff7300; /* This creates the neon glow */
    cursor: pointer;
    z-index: 100; /* Make sure it's above other elements */
}


.profile-icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover; /* This ensures the image covers the area without being stretched */
}


/* Styles for the profile icon inside the slide-out panel */
.profile-icon-container-center {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin-top: 20px; /* Add some space from the top of the panel */
}


.profile-icon-center {
    width: 120px; /* Larger than the one on the homepage */
    height: 120px; /* Keep the aspect ratio the same */
    border-radius: 50%; /* Circular shape */
    box-shadow: 0 0 5px #ff7300, 0 0 10px #ff7300, 0 0 15px #ff7300; /* Neon glow */
    object-fit: cover;
    border: 3px solid #ff5100; /* Light blue border, made slightly thicker */
    cursor: pointer; /* Optional: if you want it to indicate it's clickable */
    background-color: #1c1138; /* Dark blue background, to match the slide-out panel */
}


.slide-out-panel {
    position: fixed;
    top: 0;
    left: -100%; /* Start off-screen to the left */
    width: 45%; /* Takes up half the screen width */
    height: 100%; /* Full screen height */
    background-color: #3e004d; /* Dark background */
    border-right: 2px solid #ff7300; /* Neon blue border */
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5); /* Soft shadow to the right */
    overflow-y: auto; /* In case the content overflows */
    transition: left 0.3s ease-out; /* Smooth slide-in transition */
    z-index: 100; /* Above everything except the profile icon */
}



.slide-out-panel.visible {
    left: 0; /* Slide in from the left */
}



.close-panel-btn {
    width: 40px;
    height: 40px;
    background-color: #1c1138;
    border: 2px solid #ff7300;
    border-radius: 10px;
    color: #FFF;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px #ff7300, 0 0 5px #ff7300, 0 0 10px #ff7300;
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
    margin: 20px auto;
    margin-top: 1px;
}


.close-panel-btn:hover {
    box-shadow: 0 0 10px #ff7300, 0 0 20px #ff7300, 0 0 30px #ff7300;
    transform: scale(1.1);
}



.close-panel-btn:focus {
    outline: none;
}


.panel-content {
    padding: 20px;
}


.account-options .option {
    margin-bottom: 10px;
}


.custom-file-upload {
    padding: 12px 20px;
    background: linear-gradient(135deg, #ff7300 0%, #d33c00 100%);
    border: 2px solid #ff7300;
    border-radius: 10px;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    text-align: center;
    display: block; /* Makes it a block element */
    margin: 20px auto; /* Centers it in the side panel */
    text-decoration: none; /* Removes underline text */
    max-width: 200px;



}


.custom-file-upload:hover {
    background: linear-gradient(135deg, #f36100 0%, #ff7300 100%);
    box-shadow: 0 0 10px #ff7300, 0 0 20px #ff7300, 0 0 30px #ff7300; /* Enhanced neon glow effect on hover */
}


.custom-file-upload i {
    margin-right: 8px; /* Adds some space between the icon and the text */
}
.pool-info {
    background-color: #0a0f22;
    border: 2px solid #ff7300;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px #ff7300, 0 0 20px #ff7300;
    margin: 30px auto;
    max-width: 300px;
    text-align: left;
}



.pool-title {
    font-size: 1.8em;
    color: #ff5100;
    border-bottom: 2px solid #ff7300;
    padding-bottom: 5px;
    margin-bottom: 15px;
    text-align: center;
}


.user-record {
    font-size: 1.3em;
    color: #fff;
    display: flex;
    justify-content: space-around;
    text-shadow: 0 0 5px #ff7300, 0 0 10px #ff7300, 0 0 15px #ff7300;
}



.user-record div {
    margin: 0 10px;
}


.bio-container, .bio-info {
    background-color: #150a22;
    border: 1px solid #ff7300;
    border-radius: 5px;
    padding: 15px 20px;
    box-shadow: 0 0 10px #ff7300, 0 0 20px #ff7300;
    margin: 20px auto;
    max-width: 300px;
    text-align: left;
}

.bio-title {
    font-size: 1.5em;
    color: #ff7300;
    border-bottom: 1px solid #ff7300;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-align: center;
}



#userBio {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #ff7300;
    background-color: #150a22;
    color: #fff;
    font-size: 1em;
    margin-bottom: 10px;
    resize: none;
    max-width: 300px;
    box-sizing: border-box;
}



#saveBioButton {
    margin-left: 10px;
    background-color: #ffd0b4;
    border: none;
    border-radius: 5px;
    color: #ff7300;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    box-shadow: 0 0 5px #ff7300, 0 0 10px #ff7300, 0 0 15px #ff7300;
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
}


#saveBioButton:focus {
    outline: none;
}



.bio-info, .season-record-info {
    background-color: #150a22;
    border: 1px solid #ff7300;
    border-radius: 5px;
    padding: 15px 20px;
    box-shadow: 0 0 10px #ff7300, 0 0 20px #ff7300;
    margin: 20px auto;
    max-width: 300px;
    text-align: left;
}



.bio-title, .season-record-title {
    font-size: 1.5em;
    color: #ff7300;
    border-bottom: 1px solid #ff7300;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-align: center;
}



.bio-content, .season-record-content {
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}


/* Hide the file input visually but remain accessible to screen readers. */
input[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}



.welcome-message {
    text-transform: uppercase;
    text-align: center; /* Center the text horizontally */
    font-size: 24px; /* Increase font size or adjust as needed */
    margin: 20px 0; /* Add some margin around the text for spacing */
    font-family: 'Montserrat', sans-serif;
   color:  #ff7300;
}



.welcome-message {
    text-transform: uppercase;
    text-align: center;
    font-size: 3.8vw; /* Base font size using viewport width */
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden; /* Hide overflow */
    width: 100%; /* Full width of container */
    padding: 5px;
    color: #ff7300;
    box-sizing: border-box;
  }
 
  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    .welcome-message {
      font-size: 3.8vw; /* Slightly larger on smaller screens */
    }
  }



/* Add this CSS to your existing stylesheet */
.hidden {
    display: none;
}




#teamFilter {
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #7700ff;
    background-color: #121212;
    color: #be33ff;
    transition: all 0.3s ease;
}




#teamFilter:focus {
    outline: none;
    border-color: #be33ff;
}



#displayInjuriesBtn {
    display: block;
    margin-bottom: 10px;
}


/* Add transition for smooth showing */
.show {
    display: block !important;
    transition: opacity 0.5s ease;
}



#injuryList {
    max-height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    transition: max-height 0.5s ease-out, margin-top 0.5s ease-out;
    margin-top: 0;
}



#injuryList.show {
    max-height: 1000px; /* Arbitrary large value to accommodate content */
    margin-top: 10px;
}


.injury-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #2c2c2c;
}


.injury-item img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}




.injury-details {
    text-align: left;
    font-family: 'montserrat', sans-serif;
}



.injury-details h4 {
    margin: 0;
    font-size: 18px;
    color: #be33ff;
}



.injury-details p {
    margin: 2px 0;
    font-size: 14px;
    color: rgb(255, 255, 255);
}


.injury-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    padding: 0;
}




.injury-container.visible {
    max-height: 1000px; /* Set to a high enough value to accommodate the content */
    padding: 20px 0;
}



h1 {
    font-size: 2.5em;
    text-align: center;
    color: #ff7300; /* Neon light blue */
    border-bottom: 2px solid #ff7300;
    padding-bottom: 10px;
    margin-bottom: 20px;
}




.underline {
    height: 4px; /* Or however thick you want it */
    background-color: #be33ff; /* Neon light blue */
    width: 100%; /* Or a specific width if you prefer */
    margin-top: 5px; /* Space between the text and the line */
}


.players {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto; /* Allow vertical scrolling */
    justify-content: space-around;
}



@media (max-width: 768px) {
    .players {
        max-height: 50vh; /* Adjust the height on mobile to make it less than the viewport height */
        overflow-y: scroll; /* Explicitly set scrolling for touch devices */
        -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
    }
    .slide-out-panel {
        position: fixed;
        top: 0;
        left: -100%; /* Start off-screen to the left */
        width: 60%; /* Takes up half the screen width */
        height: 100%; /* Full screen height */
        background-color: #3e004d; /* Dark background */
        border-right: 2px solid #ff5100; /* Neon blue border */
        box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5); /* Soft shadow to the right */
        overflow-y: auto; /* In case the content overflows */
        transition: left 0.3s ease-out; /* Smooth slide-in transition */
        z-index: 100; /* Above everything except the profile icon */
    }
}



.total-points {
    font-style: oblique;
    position: absolute; /* This will position the element relative to its nearest positioned ancestor */
    top: 2px; /* Adjust this value if you want to move it up or down */
    right: 50px; /* Adjust this value if you want to move it left or right */
    background-color: rgba(23, 32, 58, 0.8); /* A slightly transparent deep blue background */
    padding: 5px 10px;
    border-radius: 4px;
    color: #d0e5f2; /* Neon light blue text */
    font-weight: bold;
    z-index: 1; /* Ensure it's above other content */
}



.player-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 25px #be33ff, 0px 0px 5px #be33ff; /* Enhanced shadow on hover */
}


h2 {
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 10px;
    color: #ff7b00;
}
/*
.rules-button {
    margin: 0 auto;
    padding: 12px 25px;
    text-align: center;
    background: #121212;
    color: #00ccff;
    text-decoration: none;
    border-radius: 50px;
    border: 2px solid #00ccff;
    transition: background 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 4px 15px rgba(0, 204, 255, 0.4);
}


.rules-button:hover {
    background-color: #00ccff;
    color: #121212;
    box-shadow: 0px 6px 20px rgba(0, 204, 255, 0.6);
    transition: background 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}*/
.rule-book-button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    color: #ffd0b4;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Georgia', serif;
    background: none;
    border: none;
    box-shadow: none;
    transition: color 0.3s ease;
    cursor: pointer;
}


.neon-book {
    position: relative;
    width: 50px; /* Adjusted for better text fit */
    height: 80px; /* Adjusted for better text fit */
    margin: 0 auto;
    top: -10%;
    background-color: #ffd0b4;
     border: 2px solid #ff5100;
    border-radius: 2px;
}



.neon-book::before,
.neon-book::after {
    content: '';
    position: absolute;
    border: 2px solid #ff5100;
    border-radius: 2px;



}



.neon-book::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.rule-book-button:hover .neon-book::before,
.rule-book-button:hover .neon-book::after {
    background-color: #ff5100;
    color: #1c1138;
}



.rule-book-button:hover .rule-book-text{
    color: #1c1138;
}



.neon-book::after {
    top: 0;
    left: 5px;
    width: 95%;
    height: 100%;
    border-left: none;
    box-shadow: 0 0 25px rgba(132, 0, 255, 0.8);
}
.bookmark {
    position: absolute;
    bottom: -18px;
    left: 80%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid rgb(87, 0, 138); /* Dark blue for the main triangle */
   
}




/* Creating the two light blue mini triangles */
.bookmark::before,
.bookmark::after {
    content: '';
    position: absolute;
    top: -15px; /* Positioning above the main triangle */
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7.5px solid #ff5100;
}



.bookmark::before {
    left: -10px; /* Position to the left of the main triangle */
}



.bookmark::after {
    right: -10px; /* Position to the right of the main triangle */
}



.title-line {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 30px;
    height: 3px;
    background: #ff5100;
    box-shadow: 0 0 20px rgba(132, 0, 255, 0.8);
}


.rule-book-text {
    position: absolute;
    top: 40%; /* Adjusted for vertical alignment */
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px; /* Adjust as needed */
    color: #ff5100;
    text-shadow: 0 0 20px rgba(132, 0, 255, 0.8);
    text-align: center;
}


.info-button {
    position: absolute;
    right: 10px; /* Adjust as needed to align it to the right */
    top: 35%;
    transform: translateY(-50%);
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.2em;
    color: #ff5100;
    background: #ffd0b4;
    border: 2px solid #ff5100;
    border-radius: 50%;
    box-shadow: 0px 4px 15px rgba(255, 136, 0, 0.678);
    transition: background 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    cursor: pointer;
    font-family: 'Georgia', serif;
}








.info-button:hover {
    background-color: #6f00ff;
    color: #121212;
    box-shadow: 0px 6px 20px rgba(47, 0, 255, 0.6);
    transition: background 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}
.neon-sign {
    position: relative;
    font-size: 2rem;
    font-family: 'New Rocker', cursive;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0 0 5px rgb(254, 237, 237),
                 0 0 10px rgb(246, 239, 239),
                 0 0 15px #ff893b,
                 0 0 20px #ff893b,
                 0 0 25px #ff893b,
                 0 0 30px #ff893b,
                 0 0 35px #ff893b;
    animation: neonFlicker 1.5s infinite alternate;
   /* margin-top: 20px;*/
    background-image: url('bat_animation.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    z-index: 1;
}

.six-with-hat {
    position: relative;
    display: inline-block;
    animation: none !important; /* Prevents any animation */
    opacity: 1 !important;
}

.six-with-hat::after {
    content: '';
    position: absolute;
    top: -25px; /* Adjusted to accommodate larger hat */
    right: -25px; /* Adjusted to center larger hat */
    width: 40px; /* Increased size */
    height: 40px; /* Increased size */
    background-image: url('hat.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    transform: rotate(15deg); /* Rotates the hat 15 degrees clockwise */
    animation: none; /* Ensures the hat doesn't flicker */
    animation: none !important; /* Prevents any animation */
    opacity: 1 !important;
}
/* Optional: Semi-Transparent Overlay for Better Text Visibility */
.neon-sign::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); /* Adjust opacity as needed */
    z-index: -1; /* Places the overlay behind the text but above the background GIF */
}

.week {
    font-size: 1.5rem; /* Adjust as needed */
    font-family: 'Nosifer', cursive;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0 0 5px rgb(254, 237, 237), 0 0 10px rgb(246, 239, 239), 0 0 15px #ff893b, 0 0 20px #ff893b, 0 0 25px #ff893b, 0 0 30px #ff893b, 0 0 35px #ff893b;
    animation: neonFlicker 1.5s infinite alternate;
    margin-top: 20px; /* Add space below the "teams" */
}
@keyframes neonFlicker {
    0% { opacity: 0.2; }
    50% { opacity: 1; }
    100% { opacity: 0.8; }
}



/* The dunce cap */
.dunce-icon {
    margin-left: 0.2em;
    padding-right: 4px;
    font-size: 1.2rem; /* Adjust as needed */
    z-index: 10;
    color: rgb(177, 121, 0);
}


.player-username {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 5px; /* or you could specify a size like 0.9em or 14px */
}




.logout-button {
 background-color: #ffd0b4; /* Dark button background */
    color: #ff7b00; /* Neon text color */
    border: 1px solid rgb(111, 0, 255); /* Neon border */
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px #ff7b00, 0 0 10px #ff7b00, 0 0 15px #ff7b00; /* Neon glow effect */
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
    margin: 20px auto; /* Center horizontally */
    display: block; /* Make it block level to center with margin auto */
}



.logout-button:hover {
    box-shadow: 0 0 10px rgb(111, 0, 255), 0 0 20px rgb(111, 0, 255), 0 0 30px rgb(111, 0, 255);
    transform: scale(1.05);
}

.team-logo {
    width: 35px; /* Or your desired width */
    height: auto;
    margin-right: 5px;
    margin-bottom: -5px;
    /* Add any other styling you need */
}



.pool-name {
    font-family: 'Electrolize', sans-serif;
    font-size: 20px;
    color: #ffd0b4;
    text-shadow:
    -.5px -.5px 0 #ff5100,  
    .5px -.5px 0 #ff5100,
    -.5px .5px 0 #ff5100,
    .5px .5px 0 #ff5100;
    text-align: left; /* Align text to the left */
    max-width:100% ;/* Takes the full width of its parent */
    margin-bottom: 5px; /* Space between pool name and container */
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    overflow-x: auto;
}


.player-card {
    position: relative;
    width: 220px;
    border: 2px solid #be33ff; /* Neon light blue border */
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    background-color: #1c1138; /* A deep blue for card background */
    box-shadow: 0px 0px 20px #be33ff; /* Neon light blue shadow for depth */
    transition: transform 0.2s, box-shadow 0.2s; /* Animation for hover */
}


/* Input fields styling */
input[type="text"], input[type="password"], input[type="checkbox"] {
    background-color: rgb(20, 0, 34); /* Dark background for the input */
    border: 1px solid rgb(255, 81, 0); /* Neon border color */
    padding: 10px;
    margin: 0 8px 0 0;
    color: rgb(255, 94, 0); /* Neon text color */
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(111, 0, 255), /* Neon glow effect */
    0 0 3px rgb(111, 0, 255),
    0 0 3px rgb(111, 0, 255);
    transition: box-shadow 0.3s ease-in-out;
}

/* Enhance the neon glow when the input is focused */
input[type="text"]:focus, input[type="password"]:focus {
    box-shadow: 0 0 6px rgb(111, 0, 255),
    0 0 6px rgb(111, 0, 255),
    0 0 6px rgb(111, 0, 255);
}

/* Styling for checkboxes to match the neon theme */
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #022;
    border-radius: 5px;
    border: 2px solid rgb(111, 0, 255);
    vertical-align: middle;
    cursor: pointer;
}


input[type="checkbox"]:checked {
    background-color: rgb(111, 0, 255);
    box-shadow: inset 0 0 5px rgb(111, 0, 255), /* Inner shadow for a glowing effect */
    0 0 5px rgb(111, 0, 255), /* Outer glow */
    0 0 10px rgb(111, 0, 255);
}


/* Labels for a cleaner, professional look */
label {
    color: #be33ff; /* Neon text color */
    font-weight: bold;
    margin-right: 10px;
}


/* Button Styling */
button {
    background-color: #ffd0b4; /* Dark button background */
    color: #ff7b00; /* Neon text color */
    border: 1px solid rgb(111, 0, 255); /* Neon border */
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
    margin-bottom: 20px;
}


/* Hover effect for the button to make it pop */
button:hover {
    box-shadow: 0 0 5px rgb(111, 0, 255),
    0 0 5px rgb(111, 0, 255),
    0 0 7px rgb(111, 0, 255);
    transform: scale(1.05);
}


/* Styling for the form container */
.form-container {
    background-color: #ff7b00; /* Slightly lighter form background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgb(111, 0, 255), /* Neon glow effect */
    0 0 5px rgb(111, 0, 255),
    0 0 5px rgb(111, 0, 255);
}


/* Enhances the layout of form elements */
.form-field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


/* Give the create pool section a distinct look */
#create-pool-section {
    padding: 20px;
    background: #ffd0b4; /* Translucent background */
    border: 2px solid #ff7b00; /* Neon border */
    border-radius: 10px;
    box-shadow: 0 0 5px #be33ff, /* Outer neon glow */
    0 0 5px #be33ff;
    margin: 20px 0;
}


/* Increase spacing between form elements */
#pool-name, #pool-password {
    margin-bottom: 15px; /* Adds more space below the input fields */
}


/* Style for the checkbox label */
#private-pool-label {
    display: inline-block;
    margin-right: 10px; /* Adds space between the label and the checkbox */
    vertical-align: middle; /* Aligns label with the checkbox */
}

/* Style for the checkbox */
#is-private {
    vertical-align: middle; /* Aligns checkbox vertically with the label */
    margin-right: 15px; /* Adds space between the checkbox and the 'Create Pool' button */
}


/* Transform 'Create Pool' button into 'Go Back' button */
#toggle-create-button.reverse {
    background-color: #be33ff; /* Neon blue for a 'go back' symbol */
    transform: rotate(180deg); /* Rotate the button to indicate 'go back' */
}


/* Hide password field initially */
#pool-password {
    display: none;
}


/* Additional styling for the container to fix position issue */
.create-pool-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* This centers the button in the flex container */
    justify-content: space-between; /* This will add space between your elements */
    width: 100%; /* Adjust width to fit content */
    border-bottom: 1px solid #be33ff; /* Neon-like blue border */
    padding-bottom: 20px; /* Space above the border */
}


#create-pool-form input[type="submit"] {
    background-color: rgb(15, 0, 51); /* Dark background for the button */
    color: rgb(76, 0, 255); /* Neon text color */
    border: 1px solid rgb(111, 0, 255); /* Neon border color */
    padding: 10px 20px; /* Padding for the button */
    font-size: 1em; /* Font size for the button */
    border-radius: 5px; /* Rounded corners for the button */
    cursor: pointer; /* Cursor changes to pointer to indicate it's clickable */
    box-shadow: 0 0 5px rgb(111, 0, 255), /* Outer neon glow effect */
    0 0 10px rgb(111, 0, 255), /* Middle neon glow effect */
    0 0 15px rgb(111, 0, 255); /* Inner neon glow effect */
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out; /* Smooth transition for hover effects */
    width: auto; /* Adjust width as necessary */
    margin-top: 10px; /* Space above the button */
    display: block; /* Ensure the button is a block element to take up full width */
}



#create-pool-form-container {
    border-bottom: 2px solid rgb(0, 247, 255); /* Neon border color */
}



#show-create-pool-form,
#show-join-pool-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Make sure to use the correct IDs */
    width: auto; /* Or specify a width */
    margin: 20px auto; /* Top and bottom margin with auto horizontal margins */
}


#main-content button {
    margin-bottom: 0px;
}


#main-content form {
    display: flex;
    flex-wrap: wrap; /* This will allow items to wrap to the next line if needed */
    gap: 10px; /* This adds some space between your form items */
}


#main-content label,
#main-content input[type="text"],
#main-content input[type="password"],
#main-content input[type="checkbox"],
#main-content input[type="submit"] {
    margin-bottom: 10px; /* Add space below each form element */
}


#main-content .form-field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.form-field-row {
    flex-basis: 50%; /* Adjust as needed */
}


#main-content label[for="pool-password"],
#main-content #pool-password {
    display: inline-block; /* This makes the label and input align horizontally */
    width: auto; /* Adjust width as needed or use flex-grow property */
}

#main-content input[type="submit"][value="Create Pool"] {
    background-color: rgb(15, 0, 51); /* Dark background for the button */
    color: rgb(76, 0, 255); /* Neon text color */
    border: 1px solid rgb(111, 0, 255); /* Neon border color */
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(111, 0, 255), /* Neon glow effect */
    0 0 5px rgb(111, 0, 255),
    0 0 5px rgb(111, 0, 255);
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
}



.player-row:last-child {
    border-bottom: none; /* Removes the line from the last row */
}



/* Ensure the container elements are flex */
.pool-header, .player-row {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ff5100;
}


/* Flex items in the header and rows */
.pool-header > span, .player-row > div {
    flex: 1; /* Default flex grow */
    text-align: center;
    position: relative; /* For vertical lines */
    padding: 10px 0; /* Consistent padding for all items */
}



/* Style for the profile picture */
.player-profile-pic {
    width: 43px; /* Fixed width */
    height: 43px; /* Fixed height */
    border-radius: 50%; /* Circle */
    background-size: cover; /* Fill the container */
    background-position: center; /* Center the image */
    margin-right: 10px; /* Space between image and username */
    flex-shrink: 0;
    border: 1.5px solid #ff5100;
}

.player-rank { order: 1 }
.player-user { order: 2 }
.player-points { order: 3 }
.player-picks { order: 4 }
.player-win { order: 5 }
.player-loss { order: 6 }
.player-push { order: 7 }

/* Specific flex values to match the header with the rows */
/* Vertical lines with consistent height */
.pool-header > span:not(:last-child)::after,
.player-row > div:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%; /* Center the line vertically */
    transform: translateY(-50%); /* Offset the line by half its height to center it */
    height: 30px; /* Adjust the height as needed */
    width: 1px;
    background-color: #ff7b00;
}


/* Remove the general rule that applies the line after every div */
.player-row > div::after {
    content: none;
}


/* Apply the vertical line specifically after the 'Picks' column */
.player-row > div:nth-child(7)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    width: 1px;
    background-color: #ff7b00;
}


/* Other cosmetic styling (background colors, hover effects, etc.) can be added as needed */
/* Flex settings for player row items */
.player-rank,
.player-user,
.player-points,
.player-picks,
.player-win,
.player-loss,
.player-push {
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    text-align: center;
    position: relative;
    padding: 10px 0; /* Consistent padding for all items */
}
.player-rank,
.player-points,
.player-win,
.player-loss,
.player-push {
    font-family: 'quantico', sans-serif;
}
.pool-header .header-rank, .player-row .player-rank { flex: 0.5; }
.pool-header .header-user, .player-row .player-user { flex: 2.5; }
.pool-header .header-points, .player-row .player-points { flex: 1; }
.pool-header .header-picks, .player-row .player-picks { flex: 5; }
.pool-header .header-win, .player-row .player-win { flex: 1; }
.pool-header .header-loss, .player-row .player-loss { flex: 1; }
.pool-header .header-push, .player-row .player-push { flex: 1; }


.admin-badge {
    color: rgb(1, 211, 1); /* Green color for the admin badge */
    margin-left: 0.3em; /* Space between the username and the badge */
    margin-right: 0.2em;
}



.player-user {
    flex: 2.5;
    max-width: 240px; /* Adjust as necessary */
    display: flex;
    align-items: center;
    overflow: hidden; /* Hide overflow */
    cursor: pointer;
}


.crown-icon {
    margin-left: 0.3em;
    padding-right: 4px;
    margin-bottom:0.2em;
    font-size: 1.0rem; /* Adjust as needed */
    z-index: 10;
    color: gold;
}


.player-username {
    font-size: 1rem; /* Fixed font size, adjust as needed */
    overflow: hidden; /* Hide overflow */
    white-space: nowrap; /* Keep content in a single line */
    overflow-x: auto;
}



/* Scrollbar styling */
.player-username::-webkit-scrollbar {
    height: 4px; /* Height of horizontal scrollbar */
    background-color: rgba(0, 110, 255, 0.1); /* Scrollbar track color */
}


.player-username::-webkit-scrollbar-thumb {
    background-color: rgba(162, 1, 255, 0.2); /* Scrollbar thumb color */
    border-radius: 2px;
}


.player-username::-webkit-scrollbar-thumb {
    background-clip: content-box; /* Avoid dragging on the padding area */
    border: 2px solid transparent;
}



.player-username:hover::-webkit-scrollbar-thumb {
    background-color: rgba(204, 0, 255, 0.5); /* Scrollbar thumb color on hover */
}


.pool-manager {
    width: 200px; /* Set the width of the box */
    padding: 20px; /* Padding inside the box */
    background-color: #1b003f; /* Background color of the box */
    border: 2px solid #ff5100; /* Neon light blue border */
    border-radius: 8px; /* Optional border radius for rounded corners */
    margin: 20px 0; /* Space around the pool manager */
    transition: margin 0.3s ease-in-out;
}


/* Flex settings for pool manager */
.pool-manager.centered {
    align-self: center;
}


/* Move the pool manager down when there are pools */
.pool-manager.bottom {
    margin-top: 20px;
}


.content {
    margin-left: 20%; /* This should match the width of your .pool-manager */
    flex: 3; /* take up the remaining space */
    padding: 20px;
    background-color: rgb(18, 0, 34); /* Change to match your page's theme */
}



/* Style your forms within the pool-manager */
#join-pool-form, #create-pool-form {
    margin-bottom: 20px;
}



#join-pool-form input[type="submit"] {
    background-color: rgb(15, 0, 51); /* Dark background for the button */
    color: rgb(76, 0, 255); /* Neon text color */
    border: 1px solid rgb(111, 0, 255); /* Neon border color */
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(111, 0, 255), /* Neon glow effect */
    0 0 10px rgb(111, 0, 255),
    0 0 15px rgb(111, 0, 255);
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
    margin-top: 20px;
}


#join-pool-form input[type="submit"]:hover {
    box-shadow: 0 0 10px rgb(111, 0, 255), /* Neon glow effect */
    0 0 20px rgb(111, 0, 255),
    0 0 30px rgb(111, 0, 255);
    transform: scale(1.05);
}


#join-pool-form label,
#join-pool-form input {
    display: block; /* Stack them vertically */
    width: 100%; /* Full width of the container */
    margin-bottom: 10px; /* Adjust as necessary for space between form elements */
    box-sizing: border-box; /* Include padding in width calculation */
}




@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }




    .pool-manager {
        max-width: 100%; /* full width on smaller screens */
        height: auto; /* adjust height */
    }




    .content {
        flex: 1; /* reset flex */
    }
   
.pool-name {
    font-family: 'Electrolize', sans-serif;
    font-size: 20px;
    color: #ffd0b4;
    text-shadow:
    -.5px -.5px 0 #ff5100,  
    .5px -.5px 0 #ff5100,
    -.5px .5px 0 #ff5100,
    .5px .5px 0 #ff5100;
    text-align: left; /* Align text to the left */
    max-width:150px ;/* Takes the full width of its parent */
    margin-bottom: 5px; /* Space between pool name and container */
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    overflow-x: auto;
}
}


/* Styling for headers */
.pool-header > span {
    color: #ffffff; /* Change to the color that fits your design */
    font-family: 'Montserrat', sans-serif;
    font-size-adjust: calc(50%);
    text-transform: uppercase; /* Capitalize your headers for more impact */
}



.pool-header .header-rank {
    text-align: right; /* Ensure text is aligned to right */
}



.header-immortal-lock .fas {
    margin-left: 5px; /* Add a little space between the text and the icon */
}



.player-row .player-immortal-lock { order: 5 } /* Assign proper order and flex */


.player-picks, .player-immortal-lock {
    display: flex;
    align-items: flex-end; /* Align all pick and immortal-lock elements to the bottom */
    justify-content: space-around; /* Adjust space around the elements */
    height: 100%; /* Ensure it takes up full height */
}
.player-immortal-lock {
    margin-bottom: -11px;
}
.pick, .immortal-lock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; /* Align items to the bottom of the container */
    width: 100%;
   font-family: 'quantico', sans-serif;


}


.pick img, .immortal-lock img {
    margin-bottom: 8px; /* Add space between the icon and the text */
    padding-left: 10px;
}



.pick span, .immortal-lock span {
    line-height: 1; /* Ensure consistent line height */
    margin-top: auto; /* Ensure the text is pushed to the bottom */
}


.pool-header .header-rank {
    text-align: right; /* Keep text aligned to the right */
    position: relative; /* Required for transform to work */
}


.pool-header .header-rank::before {
    content: "RANK";
    display: inline-block;
    transform: translateX(-10px); /* Move the text to the left */
}



.leave-pool-button {
    position: absolute;
    right: 40px; /* Adjust as necessary to move it closer to the right edge of the pool */
    bottom: -10px; /* Adjust this value to move closer to the bottom edge of the pool */
    padding: 10px 20px; /* Match the padding of your Create Pool button */
    background-color: rgb(15, 0, 51); /* Background color to match the Create Pool button */
    color: rgb(76, 0, 255); /* Text color to match the Create Pool button */
    border: 1px solid rgb(111, 0, 255); /* Border color to match the Create Pool button */
    border-radius: 5px; /* Border radius to match the Create Pool button */
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
    font-weight: bold; /* If the Create Pool button has bold text */
    font-size: .9em; /* Adjust font size as needed */
}
/* Main Content */
/* Main Content */
/* Main Content */
/* Main Content */
#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}


/* Pool Container Wrapper */
#pool-container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center horizontally */
    width: 111%;
    margin: 20px 0;
    margin-right: 48px;
}



/* Pool Wrapper */
.pool-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px;
    box-sizing: border-box; /* Include padding and border in width */


}


/* Scrollable Container */
.pool-scrollable-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    width: 113%;
    overflow-y: hidden; /* Disable vertical scrolling */
    /*padding-bottom: 10px;*/
    /*box-sizing: border-box; /* Include padding in width */
   /* border-right: 2px solid#be33ff;
    border-radius: 8px;*/
}
/* Ensure the right border stays visible when scrolling */



.pool-scrollable-container::-webkit-scrollbar {
    height: 8px; /* Height of the horizontal scrollbar */
}


.pool-scrollable-container::-webkit-scrollbar-track {
    background: #150a22; /* Track background color */
    border-radius: 10px;
}


.pool-scrollable-container::-webkit-scrollbar-thumb {
    background-color: #be33ff; /* Thumb (scroll handle) color */
    border-radius: 10px;
    border: 2px solid #150a22; /* Border color to give it a rounded appearance */
}




.pool-scrollable-container::-webkit-scrollbar-thumb:hover {
    background-color: #a01bd5; /* Color when hovered */
}




.pool-scrollable-container::-webkit-scrollbar-thumb:active {
    background-color: #d400ff; /* Color when active (clicked) */
}



/* Pool Container */
.pool-container {
    min-width: 1150px; /* Fixed minimum width */
    max-width: 1150px;
    padding-left: 20px;
    border: 2px solid #ff5100;
    /*background-color: #170d30;*/
    background: linear-gradient(180deg,#230133 0%,#3d0158 50%, #ff8f33a1 100%);
    border-radius: 8px;
    text-align: left;
}


/* Pool and Delete Container */
.pool-and-delete-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    padding: 10px;
    width: 100%;
    max-width: 1250px;
}


/* Delete Pool Button */
.delete-pool-button {
    position: absolute; /* Stay within the pool-and-delete-container */
    right: 0px;
    bottom: -10px;
    padding: 10px 20px;
    background-color: #ffd0b4;
    color: #ff7b00;
    border: 1px solid #ff7b00;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(111, 0, 255), 0 0 5px rgb(111, 0, 255), 0 0 5px rgb(111, 0, 255);
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
    font-weight: bold;
    font-size: .9em;
    z-index: 1; /* Ensure the button stays on top */
}



.delete-pool-button:hover {
    box-shadow: 0 0 10px rgb(111, 0, 255), 0 0 20px rgb(111, 0, 255), 0 0 30px rgb(111, 0, 255);
    transform: scale(1.05);
}




.chat-wrapper {
    position: absolute;
    top: 10px;  /* Adjust for placement */
    right: 10px;  /* Adjust for placement */
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.chat-tab {
    width: 100px;  /* Match existing buttons */
    height: 40px;  /* Match existing buttons */
    background-color: #ffd0b4;  /* Match other buttons */
    color: #ff5100;  /* White text */
    text-align: center;
    line-height: 40px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 16px;  /* Adjust for readability */
    border: solid 2px #ff5100;
    margin-right:40px;
    font-family: 'montserrat', 'sans-serif';
    text-transform: uppercase;
}



.chat-tab:hover {
    background-color: #3a0055;  /* Darker blue on hover */
    transform: translateY(-2px);  /* Lift effect on hover */
    border: solid 2px #1c1138;
}



.chat-container {
    width: 300px;  /* Match input width */
    max-height: 0;
    overflow: hidden;
    background-color: #52006b;  /* Match theme */
    color: #fff9f5;  /* Light grey text */
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    transition: max-height 0.3s ease;
    position: relative; /* Changed from absolute to relative */
    top: 0; /* Removed the previous value */
    right: 20px;
}


.chat-box {
    height: 400px;
    overflow-y: auto;  /* Only show scrollbar when necessary */
    padding: 10px;
    border-bottom: 1px solid #be33ff;  /* Match other borders */
    background-color: #3b004d;   /* Match dark theme */
}


.chat-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
    border: 1px solid #be33ff;  /* Match other borders */
    background-color: #ff3c00;  /* Match input background */
    color: #ff7300;  /* Light grey text */
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 16px;
}



.send-chat-button {
    width: 90%;  /* Match input width */
    padding: 10px;
    margin: 10px auto;
    background: linear-gradient(135deg, #ffd0b4 0%, #f3c0a2  100%);
    border: none;
    border-radius: 5px;
    color: #fc5000;  /* White text */
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}



.send-chat-button:hover {
    background: linear-gradient(135deg, #8b00cc 0%, #be33ff 100%);
    box-shadow: 0 0 5px #be33ff, 0 0 5px #be33ff, 0 0 5px #be33ff; /* Enhanced neon glow effect on hover */
}


.show-chat .chat-container {
    max-height: 400px;
}




.chat-toggle {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}



.chat-toggle-button {
    width: 45%;
    padding: 5px;
    background: linear-gradient(135deg, #ffd0b4 0%, #f3c0a2  100%);
    color: #ff3c00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.choose-picks-button {
    position: relative;
    background-color: rgb(15, 0, 51); /* Dark button background */
    color: rgb(255, 102, 0); /* Neon text color */
    border: 1px solid rgb(111, 0, 255); /* Neon border */
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
    margin-bottom: 20px;
    text-align: center;
    width: fit-content; /* Adjust to maintain original button size */
    font-family: 'montserrat', 'sans-serif';
}

.choose-picks-button.disabled {
    background: black;
    color: rgb(214, 13, 13);
    border: 2px solid rgb(24, 23, 23); /* Optional: add a red border */
    font-family: 'montserrat', 'sans-serif';
}


.choose-picks-button.disabled::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(80, 73, 73);
    font-size: 1em;
    text-align: center;
}
.schedule-button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    color: #6f00ff;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Georgia', serif;
    background: none;
    border: none;
    box-shadow: none;
    transition: color 0.3s ease;
    cursor: pointer;
    top: 6.5px;
}



.neon-calendar {
    position: relative;
    width: 65px; /* Slightly wider */
    height: 70px; /* Slightly shorter */
    margin: 0 auto;
    top: -10%;
    background-color: #ffd0b4;
    border: 2px solid #ff5100;
    border-radius: 2px;
}


.neon-calendar::before,
.neon-calendar::after {
    content: '';
    position: absolute;
    border: 2px solid #ff5100;
    border-radius: 2px;
}



.neon-calendar::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.schedule-button:hover .neon-calendar::before,
.schedule-button:hover .neon-calendar::after {
    background-color: #ff5100;
    color: #1c1138;
}


.schedule-button:hover .calendar-title,
.schedule-button:hover .calendar-date {
    color: #1c1138;
}


.neon-calendar::after {
    top: 0;
    left: 5px;
    width: 95%;
    height: 100%;
    border-left: none;
    box-shadow: 0 0 25px rgba(132, 0, 255, 0.8);
}


.calendar-top {
    position: absolute;
    top: 10px; /* Adjusted for smaller height */
    left: 6px;
    width: 55px; /* Slightly wider */
    height: 10px; /* Slightly reduced height */
    background: #ff5100;
    border-radius: 2px;
}


.calendar-body {
    position: absolute;
    top: 25px; /* Adjusted for smaller height */
    left: 5px;
    width: 60px; /* Slightly wider */
    height: 35px; /* Slightly shorter */
    background: #ffd0b4;
    border-top: 2px solid #ff5100;
    border-radius: 2px;
}


.calendar-title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
    color: #ffd0b4;
    text-shadow: 0 0 20px rgba(23, 32, 58, 0.8);
    text-align: center;
}


.calendar-date {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #ff7b00;
    text-shadow: 0 0 20px rgba(132, 0, 255, 0.8);
    text-align: center;
}


.ring-binders {
    position: absolute;
    top: -7px;
    left: 7px; /* Adjusted for new width */
    width: 50px;
    display: flex;
    justify-content: space-around;
}

.ring {
    width: 5px;
    height: 13px;
    background: #6f00ff;
    border-radius: 0 0 0 0;
    box-shadow: 0 0 10px rgba(132, 0, 255, 0.8);
    border: 1px solid #150a22;
}

