body {
    font-family: 'Oswald', sans-serif;
    background-color: #0a0f22;
    color: #ddd;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Stack children vertically */
}



.main-wrapper {
    flex: 1; 
    max-width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: flex-start; 
   /* overflow-y: auto;  */
    padding-top: 20px; 
    max-height: 100vh; 
}



@media (max-width: 768px) {
    .main-wrapper {
        flex-direction: column; /* Stack children vertically on small screens */
        align-items: center; /* Center the children horizontally */
        justify-content: center;
    }

    .container, .image-container {
        width: 95%; /* Use the full width of the screen */
        margin: 0 auto; /* Center the containers */
        max-width: none; /* Override any max-width */
        max-height: 400px; /* Override any max-height, or set a new max-height as needed */
        margin-bottom: 20px; /* Add some space between the containers */
        transform: scale(1); /* Reset the scale transformation if it was reducing the size */
        width: 95%; /* Adjusted to match .info-box */
        box-sizing: border-box; /* This should fix the issue if padding or borders are causing it */
        padding: 0; /* Reset padding to ensure it doesn't affect width */
        border: none; /* Remove borders if they are not needed */
    }
    .info-box {
        width: 95%; /* Full width on smaller screens */
        padding: 15px; /* Adjust padding on smaller screens */
        font-size: 0.9rem; /* Smaller font size on smaller screens */
      }

}


/* Button Group */
.button-group {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center buttons horizontally */
    margin-bottom: 20px; /* Some spacing after the button group */
}

/* Individual Buttons */
.button-group button {
    width: 80%; /* Set a width for the buttons */
    margin: 10px 0; /* Add some space between the buttons */
}

#addPick {
    width: 100%; /* Take the full width of its parent */
}

h1, h2 {
    text-shadow: 2px 2px 15px rgba(0, 229, 255, 0.7);
    text-align: center;
    margin-bottom: 20px;
    color: #00DDFF; /* Unified neon blue */
}

#addPick, #immortalLock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
}

button {
  background-color: #00BFFF; /* Neon blue */
  color: #0a0f22;
  border: none;
  padding: 12px 24px;
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
    background-color: transparent;
    color: #00BFFF;
}

input, select {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #00DDFF;
    background-color: rgba(0, 0, 0, 0.1);
    color: #ddd;
}

#picksContainer {
    margin-bottom: 20px;
}

#pick6Title {
    height: 40px;
    font-size: 50px;
    text-align: center;
    margin-bottom: 5px;
    margin: 0;
    padding: 10px 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#immortalLockOption {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

#immortalLockOption label {
    cursor: pointer;
    color: #00DDFF;
}

#immortalLockCheck:checked + label {
    font-weight: bold;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    justify-content: center;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.back-button-container {
    text-align: center;
    width: 100%;
    padding: 10px 0; /* Adjust padding as needed */
}


.centered-button {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    width: 100%; /* Take the full width of its parent */
    margin-top: 20px; /* Optional space above the button */
  }
  
  
.back-button:hover {
    background-color: #555;
}

.image-container img {
    max-width: 100%;
    border-radius: 10px;

}

/* Assuming their parent is body (based on your current setup) */

.main-wrapper {
    display: flex;
    justify-content: center; /* Center the children horizontally */
    align-items: flex-start; /* Align children to the start of the cross axis */
    max-width: 100%;
    padding-top: 20px;
}

.container {
    width: 60%; /* Set the desired width of the container */
    max-height: 632px;
    overflow-y: auto;
    margin: 0 auto; /* Auto margins for horizontal centering */
    box-shadow: 0 0 30px rgba(0, 229, 255, 0.7);
    border-radius: 15px;
    border: 2px solid #33d9ff; /* Neon border for futuristic look */
}

@media (min-width: 769px) {
    /* This will only apply to screens wider than 768px */
    .container, .image-container {
        /* Set the width to 48% for desktop screens */
        width: 48%;
        /* Reset the margins as they were for desktop */
        margin: 0 1%;
        /* Other styles... */
        max-height: 750px;
        transform: scale(.9);
        margin-top: -2%;
    }
}

/* VERSION 1*/
  
.picks-container {
    width: auto;
    color: #000;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Creates a grid with flexible columns */
    grid-auto-rows: minmax(50px, auto); /* Adjust row height as needed */
    gap: 5px; /* Spacing between grid items */
    padding: 10px; /* Padding inside the container */
    /*overflow: auto; /* Add scrolling to the container */
    max-height: 90vh; /* Adjust based on your layout's needs */
  }
  .betCell {
    color: #fff;
    padding: 5px; /* Padding inside each cell */
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 0.8em; /* Smaller font size to fit content */
    display: flex; /* To center the content inside the cell */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
  }

  /* NFL Team Colors */
.cardinals-color { background-color: #97233F; }
.falcons-color { background-color: #A71930; }
.ravens-color { background-color: #241773; }
.bills-color { background-color: #00338D; }
.panthers-color { background-color: #0085CA; }
.bears-color { background-color: #C83803; }
.bengals-color { background-color: #FB4F14; }
.browns-color { background-color: #835506; }
.cowboys-color { background-color: #798498; }
.broncos-color { background-color: #FB4F14; }
.lions-color { background-color: #0076B6; }
.packers-color { background-color: #203731; }
.texans-color { background-color: #03202F; }
.colts-color { background-color: #002C5F; }
.jaguars-color { background-color: #006778; }
.chiefs-color { background-color: #E31837; }
.raiders-color { background-color: #A5ACAF; }
.chargers-color { background-color: #0080C6; }
.rams-color { background-color: #003594; }
.dolphins-color { background-color: #008E97; }
.vikings-color { background-color: #4F2683; }
.patriots-color { background-color: #002244; }
.saints-color { background-color: #D3BC8D; }
.giants-color { background-color: #0B2265; }
.jets-color { background-color: #125740; }
.eagles-color { background-color: #004C54; }
.steelers-color { background-color: #FFB612; }
.FortyNiners-color { background-color: #AA0000; }
.seahawks-color { background-color: #002244; }
.buccaneers-color { background-color: #D50A0A; }
.titans-color { background-color: #0C2340; }
.commanders-color { background-color: #773141; }
  
  
  .betCell:hover {
    transform: scale(1.05); /* Slight zoom on hover */
  }
  
  .betCell.selected {
    background-color: #00ff00; /* A fully green background for selected bets */
    color: #ffffff; /* White text to maintain contrast */
    /* Add any other styles you want for the selected cell */
  }
  
.betCell.immortal-lock-selected {
    background-color: #ebff69 !important; /* Example: bright yellow background */
    color: #000; /* Black text color for contrast */
    /* Add any other styles you want for the Immortal Lock selected cell */
}


  
  .info-box {
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    color: #ddd; /* Text color */
    margin: 20px auto; /* Centering the box */
    padding: 20px; /* Padding inside the box */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Box shadow for depth */
    width: 90%; /* Match the width of your container, or adjust as necessary */
    max-width: 1200px; /* Maximum width */
    text-align: left; /* Align text to the left */
    font-size: 1rem; /* Adjust font size as necessary */
    line-height: 1.5; /* Line height for better readability */
    border: 1px solid #00DDFF; /* Border color to match the theme */
  }
  
  .info-box h2 {
    color: #00DDFF; /* Heading color to stand out */
    margin-bottom: 10px; /* Space below the heading */
  }
  
  .info-box p {
    margin-bottom: 10px; /* Space between paragraphs */
    text-align: center;
  }
  
  /* Additional media query to handle responsiveness */
  @media (max-width: 768px) {

  }


  
  .green-highlight {
    color: #33ff57;
}
.pink-highlight {
    color: #ff39ce;
}

.red-highlight {
    color: #ed322c;
}

.gold-highlight {
    color: #ebff69
}

#userPicksContainer, #userImmortalLockContainer {
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    align-items: center; /* Centers children horizontally */
    justify-content: center; /* Centers children vertically if there is space */
    height: auto; /* Adjusts height based on content */
    margin: auto; /* Center the container itself if it's not full width */
    width: 30%; /* Adjust width as needed */
    background: #000; /* Background color */
    color: #fff; /* Text color */
    border: 1px solid #33d9ff; /* Border color */
    border-radius: 10px; /* Rounded corners */
    padding: 10px; /* Padding around the text */
    gap: 10px; /* Space between child elements */
}
  

.user-pick span, .user-immortal-lock span {
    font-size: 0.9em;
    line-height: 1.2;
}

.team-logo{
    margin-bottom: -5px;
}
h4 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 5px;
    color: #00CCFF;
    text-shadow: 2px 2px 10px rgba(0, 229, 255, 0.7);
    margin: 0;
    padding: 10px 0;
    background: rgba(18, 17, 17, 0.7);


}

.disabled {
    background-color: #0f0f0f; /* A light grey background */
    color: #de1818;           /* A darker grey text color */
    cursor: not-allowed;      /* The cursor indicates the element is not allowed to be interacted with */
    opacity: 0.5;             /* Makes the bet cell look faded */
  }
  
  .bet-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
    padding: 10px;
    border-radius: 8px; /* Rounded corners for the container */
    background-color: #17203a;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    align-items: center; /* Center items vertically */
}
.picks-container {  /* Assuming this is the parent container for all game-containers */
  display: flex;
  flex-wrap: wrap; /* Ensures elements wrap to the next line */
  justify-content: space-around; /* Spaces out the children evenly */
  align-items: flex-start; /* Aligns items to the top of the container */
  width: 100%; /* Full width of the parent element */
}@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap'); /* Importing a digital-style font */

.game-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  background: #17203a; /* Dark background for game-like feel */
  border: 2px solid #33d9ff; /* Neon border for futuristic look */
  box-shadow: 0 0 10px #33d9ff; /* Glow effect */
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
  margin: 5px;
  padding: 20px;

  font-family: 'Orbitron', sans-serif; /* Digital font for game feel */
  box-shadow: 0 0 5px #00e9fa;; /* Blue glow */
}

.at-symbol {
  font-size: 30px; /* Larger for emphasis */
  color: #00e9fa;; /* Bright red for visibility */
  margin: 0 15px;
  flex: 0 0 50px; /* Bigger and bolder */
  margin-right: 5px;
}

.commence-time {
  width: 100%;
  color: #4de4ff; /* Bright green for high visibility */
  font-size: 18px;
  text-align: center;
  padding: 5px 0;
  font-family: 'Orbitron', sans-serif;
}
.bet-button {
  background-color: #333;
  color: #00e9fa; /* Neon cyan text */
  border: 1px solid #00e9fa; /* Neon border */
  box-shadow: 0 0 8px #00e9fa; /* Consistent glow effect */
  padding: 8px 12px;
  margin: 2px 0;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Orbitron', sans-serif;
}

.bet-button:hover {
  background-color: #474747; /* Darker on hover for a subtle effect */
  box-shadow: 0 0 12px #00e9fa;
}

.team-logo {
  width: 55px; /* Slightly larger logos */
  height: 55px;
  margin: 5px 0; /* Adjust margin around logos */
}
  
  .bet-options {
    display: flex;
    flex-direction: column;
  }
  
  .bet-button {
    border: 2px solid black; /* Black border */
    box-shadow: 0 0 5px white; /* White glow */
    margin: 2px 0; /* Spacing between buttons */
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1); /* Subtle background */
    transition: background-color 0.3s ease;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%
    /* Other styles... */
  }
  
  .bet-button:hover {
    background-color: #555; /* Darken on hover for effect */
  }
  
  .selected {
    background-color: #00ff00; /* Green background for selected */
    color: rgb(0, 0, 0); /* White text for selected */
  }
  
  .immortal-lock-selected {
    background-color: #fffc68; /* Specific color for immortal lock */
    color: rgb(0, 0, 0); /* Text color for contrast */
  }

  .picks-container2 {
    display: flex;
    gap: 20px; /* Add space between game day containers */
}

.game-day-container {
    background-color: rgba(255, 255, 255, 0.05); /* Slight background to differentiate sections */
    border-radius: 8px;
    padding: 20px;
    flex-grow: 1; /* Allows the container to grow */
}

.game-day-container h3 {
    text-align: center;
    color: #00DDFF;
    margin-bottom: 15px;
}